<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <img src="{% static 'profile.jpg' %}" alt="">
    <h1>Hello my name is {{ name }}</h1>
    <p>NPM: {{ npm }}</h1>
    <p>Riwayat Pendidikan</p>
    <ul>
        <li>{{ school }}</li>
    </ul>
</body>
</html>
